body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 40px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

h1 span {
    color: #0077cc;
}
